// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Gradient from the picto
$light-blue: #22AFE2;
$light-purple: #9E30FF;
$purple: #6B65EE;
$blue: #408EDF;
