.cocktail-card {
  background: white;
  margin: 150px 250px;
  padding: 30px;
  display: flex;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.6)
}

.cocktail-img {
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.cocktail-info {
  padding: 16px;
  margin-left: 16px;
}
