<div class="banner homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557163634-229d4aec06c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Mister Cocktail brings <strong>cocktail skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and discover the best cocktail recipes provided by our community.</p>
    <%= link_to "Get a taste", cocktails_path, class: "btn btn-outline-info light-btn" %>
  </div>
</div>

<br>

<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae debitis repellendus alias ratione sunt praesentium ducimus pariatur quo vitae consectetur quam nam veniam dolorum repudiandae veritatis est delectus, fugiat quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam eaque, quod iusto, accusantium corporis excepturi. Dicta, cumque, maiores soluta fugit quo, labore placeat quasi deleniti repellendus inventore quisquam obcaecati facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, distinctio. Magnam quia corporis eveniet culpa similique sit vero possimus? Odio laborum ex dicta officia ipsam, minima unde dignissimos quas placeat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae debitis repellendus alias ratione sunt praesentium ducimus pariatur quo vitae consectetur quam nam veniam dolorum repudiandae veritatis est delectus, fugiat quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam eaque, quod iusto, accusantium corporis excepturi. Dicta, cumque, maiores soluta fugit quo, labore placeat quasi deleniti repellendus inventore quisquam obcaecati facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, distinctio. Magnam quia corporis eveniet culpa similique sit vero possimus? Odio laborum ex dicta officia ipsam, minima unde dignissimos quas placeat!</p>
</div>

<div class="home-card">

</div>
